<section class="main">
  <h1>Bowling Scoreboard </h1>
  <pins pins-standing="$ctrl.maxRoll"></pins><br>
  <roll-button on-roll="$ctrl.updateFrame($event.score)" max-roll="$ctrl.maxRoll" game-status="$ctrl.gameStatus"></roll-button>
  <score-board score="$ctrl.partialScore"></score-board> <br>
  <div ng-repeat="frame in $ctrl.frames" class="frame">
    <span class="frame--first-roll">{{frame.firstRoll}}</span>
    <span class="frame--second-roll">{{frame.secondRoll}}</span>
    <span class="frame--score">{{frame.scoreSum}}</span>
    <span class="frame--extra-roll" ng-if="$index===9">{{$ctrl.extraRoll}}</span>
  </div>
</section>
