html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  max-width: 800px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

.frame {
  border: 1px solid #000;
  position: relative;
  height: 45px;
  width: 60px;
  font-size: 18px;
  display: inline-block;
  margin: 0.5rem;

  > span {
    text-align: center;
    position: absolute;
  }

  &--first-roll {
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }

  &--second-roll {
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    border-left: 1px solid #000;
  }

  &--score {
    bottom: 0;
    height: 50%;
    width: 100%;
    border-top: 1px solid #000;
  }

  &--extra-roll {
    right: -32px;
    border: 1px solid #000;
    width: 50%;
    height: 100%;
    top: -1px;
  }
}

.roll-button {
  background-color: #444;
  color: #f4f4f4;
  display: block;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 33px;
  height: 65px;
  cursor: pointer;
  font-size: 24px;
  min-width: 65px;
  margin: 2.5rem auto;
}

.pins {
  position: relative;
  display: block;
  height: 200px;
  width: 158px;
  margin: 4rem auto 0;
}

.pin {
  background: url(./media/pin.png) no-repeat;
  background-size: 100%;
  width: 32px;
  height: 96px;
  position: absolute;

  &__0 {
    top: 0;
    left: 0;
  }
  &__1 {
    top: 0;
    left: 42px;
  }
  &__2 {
    top: 0;
    left: 84px;
  }
  &__3 {
    top: 0;
    left: 126px;
  }
  &__4 {
    top: 35px;
    left: 26px;
  }
  &__5 {
    top: 35px;
    left: 68px;
  }
  &__6 {
    top: 35px;
    left: 110px;
  }
  &__7 {
    top: 70px;
    left: 42px;
  }
  &__8 {
    top: 70px;
    left: 84px;
  }
  &__9 {
    top: 105px;
    left: 68px;
  }
}
